.quote {
  margin-bottom: 2rem;
  &__marks {
    color: $color-smoke;
    font-family: 'Montagu Slab', serif;
    font-size: 6rem;
    position: absolute;
    z-index: -1;
  }
  &__copy {
    @include media(small) {
      margin-left: 0;
    }
    color: $color-deep-gold;
    margin-left: 2rem;
    &-byline {
      color: $color-smoke;
    }
  }
}

.left {
  margin-top: -2.5rem;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.right {
  @include media(small) {
    right: 0;
  }
  margin-top: -5rem;
  margin-left: 16.5rem;
}