.quote {
  margin-bottom: 2rem;
  &__marks {
    color: $color-blush;
    font-family: 'Montagu Slab', serif;
    font-size: 6rem;
    position: absolute;
    z-index: -1;
  }
  &__copy {
    color: $color-deep-gold;
    margin-left: 2rem;
    &-byline {
      color: $color-smoke;
    }
  }
}

.left {
  // margin-left: -0.5rem;
  margin-top: -2.5rem;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.right {
  margin-right: 4rem;
  margin-top: -5rem;
  right: 0;
}