a.anchor {
  border-bottom: none;
  &:hover {
      border-bottom: none;
      * {color: $color-pale-butter;}
  }
}

.anchor {
  align-items: center;
  display: flex;
  &__icon, &__helper-text {
    color: $color-deep-gold;
    font-size: $font_size-medium;
    padding-right: 2rem;
    h3, h4, h5 {
      color: $color-deep-gold;
      display: inline;
    }
    &:hover {
      border-bottom: none;
      color: $color-pale-butter;
      cursor: pointer;
    }
  }
}