.header {
  &__link {
    align-items: center;
    border-bottom: none;
    color: $color-white;
    display: flex;
    text-decoration: none;
    &:hover {
      border-bottom: none;
    }
    a, h4 {
    color: $color-white;
    transition: all 0.3s ease-in-out;
      &:hover {
        border-bottom: none;
        color: $color-deep-gold;
      }
    }
  }

  &__logo {
    border-right: solid 2px white;
    box-shadow: none;
    height: 45px;
    margin-right: 1rem;
    margin-top: 0;
    padding-right: 1rem;
    width: auto;
  }
}