img {
  box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
  cursor: pointer;
  position: relative;
  width: 100%;
}

.hidden {
  display: none;
}

.popup {
  height: auto;
  max-height: 90vh;
  width: 80vw;
}