img {
  box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
  position: relative;
  width: 100%;
}

.hidden {
  display: none;
}

.popup {
  cursor: pointer;
  height: auto;
  max-height: 90vh;
  width: auto;
}

.modal {
  &-container {
    margin-bottom: 1.995rem; 
  }
  &-expand-overlay {
    cursor: pointer;
    margin-left: 1rem;
    margin-top: -3rem;
    position: absolute;
  }
}