// Fonts

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400&family=Noto+Serif:ital,wght@0,400;1,400;1,700&family=Sen:wght@400;700;800&display=swap');
@font-face {
  font-family: AvenirNextLTPro-Regular;
  src: url("../fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: AvenirNextLTPro;
  font-weight: bold;
  src: url("../fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}

// Stylesheets

@import "vars";
@import "header";
@import "landing";
@import "report";
@import "report-menu";
@import "callout-quote";
@import "image-modal";
@import "custom-react-tabs";
@import "existing-conditions";
@import "footer";