.report {
  &-container {
    height: 100vh;
    // overflow: scroll;
  }
  &-header {
    background-color: lavender;
    display: flex;
    justify-content: center;
    min-height: 5rem;
  }
  &-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__col-1 {
      margin-right: 2rem;
      width: 10rem;
    }
    &__col-2 {
      width: 100%;
    }
  }
}

.section {
  padding-bottom: 2rem;
  &-full {
    width: 100%;
  }
  &-half {
    width: 45%;
  }
  &-two-col-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}