.report {
  &-container {
    height: 100vh;
  }
  &-image {
    align-items: center;
    background-color: rgba(238, 194, 194, 0.8);
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    overflow: scroll;
    width: 100vw;
    z-index: 5;
  }
  &-header {
    background: rgb(160, 131, 15, 0.3);
    &-copy {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 6rem;
      h2 {
        color: $color-pale-butter;
        width: 100%;
      }
      h4 {
        color: $color-white;
      }
    }
  }
  &-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__col-1 {
      @include media(large) {
        width: 10rem;
      }
      @include media(medium) {
        width: 10rem;
      }
      @include media(small) {
        margin-right: 0;
        width: 10rem;
      }
      width: 8rem;
    }
    &__col-2 {
      @include media(large) {
        max-width: 45rem;
      }
      @include media(medium) {
        max-width: 45rem;
      }
      @include media(small) {
        max-width: 100%;
      }
      max-width: 45rem;
    }
  }
}

.section {
  margin-bottom: 4rem;
  &-full {  
    margin-bottom: 2rem;
  }
  &-half {
    @include media(small) {
      width: 100%;
    }
    h3:first-child, h4:first-child, h5:first-child {
      margin-top: 0;
    }
    p:first-child {
      margin-bottom: 0;
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
    width: 45%;
  }
  &-two-col-flex {
    @include media(small) {
      display: block;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &-bottom {
    margin-bottom: 5rem;
  }
}

.border-right {
  @include media(small) {
    border-right: none;
  }
  border-right: 3px solid $color-deep-gold;
  padding-right: 5%;
}

.citation {
  color: $color-smoke;
  margin-top: 0.75rem;
  a {
    border-bottom: 2px dotted $color-smoke;
    &:hover {
      border-bottom: 2px solid $color-smoke;
    }
  }
}

.fullbleed {
  margin-left: calc(-8rem - (100vw - 45rem - 8rem) / 2);
  width: 100vw;
}