// Font Sizes
$font_size-xlarge: 5.625rem; // 90px
$font_size-large: 3.75rem; // 60px 
$font_size-medium: 2.25rem; // 36px 
$font_size-small: 1.5rem; // 24px 
$font_size-xsmall: 1rem; // 16px
$font_size-xxsmall: 0.75rem; // 12px

// Colors
$color-dark-teal: #155756;
$color-light-teal: cadetblue;
$color-deep-gold: #D1B02A;
$color-pale-butter: #FFE6AF;
$color-blush: #F2EDF2;
$color-smoke: #BEB6B6;
$color-cornflower: #6495ED;
$color-ash-purple: #7774AA;
$color-midnight: #07215B;
$color-white: #ffffff;

// Media Query
@mixin media($size) {
  @if $size == 'x-small' {
    @media only screen and (max-width: 500px) { @content; }
  } @else if $size == 'small' {
    @media only screen and (max-width: 650px) { @content; }
  } @else if $size == 'medium' {
    @media only screen and (max-width: 800px) { @content; }
  } @else if $size == 'large' {
    @media only screen and (px) { @content; }
  } @else {
    @media only screen and (max-width: $size) { @content; }
  }
}

// Global Styling

* {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
}

// default for all links not specifically styled
a, a:focus, a:active {
  color: cornflowerblue;
  text-decoration: none !important;
}

a:hover {
  border-bottom: 2px dotted cornflowerblue;
}

h1 {
  color: $color-midnight;
  font-size: $font_size-xlarge;
}

h2 {
  color: $color-midnight;
  font-size: $font_size-large;
  margin-top: 0;
  width: 50%;
}

h3 {
  color: $color-midnight;
  font-size: $font_size-medium;
}

h4 {
  color: $color-midnight;
  font-size: $font_size-small;
}

h5 {
  font-size: $font_size-xsmall;
}

img {
  box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
  width: 100%;
}

p {
  font-size: $font_size-xsmall;
}

p.bold {
  font-weight: 900;
}

.padding {
  padding: 4rem;
}

ul, li {
  list-style: none;
  padding: 0;
}
