// Font Sizes
$font_size-xlarge: 5.625rem; // 90px
$font_size-large: 3.75rem; // 60px 
$font_size-medium: 2.25rem; // 36px 
$font_size-small: 1.5rem; // 24px 
$font_size-xsmall: 1rem; // 16px
$font_size-xxsmall: 0.75rem; // 12px

// Media Query
@mixin media($size) {
  @if $size == 'x-small' {
    @media only screen and (max-width: 500px) { @content; }
  } @else if $size == 'small' {
    @media only screen and (max-width: 650px) { @content; }
  } @else if $size == 'medium' {
    @media only screen and (max-width: 800px) { @content; }
  } @else if $size == 'large' {
    @media only screen and (px) { @content; }
  } @else {
    @media only screen and (max-width: $size) { @content; }
  }
}

// Global Styling

* {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
}

// default for all links not specifically styled
a, a:focus, a:active {
  color: cornflowerblue;
  text-decoration: none !important;
}

a:hover {
  border-bottom: 2px dotted cornflowerblue;
}

h1 {
  font-size: $font_size-xlarge;
  // margin-bottom: 2.5rem;
}

h2 {
  font-size: $font_size-large;
  margin-top: 0;
  width: 50%;
}

h3 {
  font-size: $font_size-medium;
  // margin-bottom: 1rem;
}

h4 {
  // margin-bottom: 1rem;
  font-size: $font_size-small;
}

// h5 {
//   font-size: $font_size-small;
// }

p {
  font-size: $font_size-xsmall;
}

p.bold {
  font-weight: 900;
}

.padding {
  padding: 4rem;
}

ul, li {
  list-style: none;
  padding: 0;
}
